body {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
  color : black;
  background-color :black;
}
.nav {
  float: right;
  margin-top: 8px;
  font-size: 30px;
}
.nav li {
  display: inline;
}
.nav li + li {
  margin-left: 35px;
}
.nav li a {
  color:white;
  text-decoration: none;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: white;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.words{
  background-color: azure;
  width:600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.header {
  padding: 30px;
  text-align: center;
  background: grey;
  color: white;
  font-size: 30px;
}
.country{
  text-transform: uppercase;
}
.panel-heading{
  text-transform: uppercase;
}  
.description{
  padding: 10px;
}